@import url("http://fonts.googleapis.com/css?family=Gentium+Basic|&subset=latin,latin-ext");

body
{
	background-color: #333A56;
	font-family: "Gentium Basic", serif;
}

table.film
{
	text-align: center;
}

table.scene,td.scene,th.scene
{
	background-color: #52658F;
}
