@import url("http://fonts.googleapis.com/css?family=Gentium+Basic|&subset=latin,latin-ext");

body {
    color: #F7F5E6;
    background-color: #333A56;
    font-family: "Gentium Basic", serif;
}

a,
a:link,
a:active,
a:visited,
a:hover {
    color: #F7F5E6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table.film {
    text-align: center;
}

table.scene,td.scene,th.scene {
    background-color: #52658F;
}
